@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html,
body {
  height: 100%;
  min-height: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(#284b63, rgb(65, 65, 49));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9abed6;
}

.wrapper {
  height: 100%;
  min-height: 50%;
}

h1 {
  font-size: 2vh;
  padding-top: 0;
}

p {
  color: #9abed6;
}

.bar {
  margin-bottom: 10px;
}

.search-city {
  height: 4vh;
  border: none;
  outline: none;
  width: 20vh;
  border-radius: 10px;
  background-color: #153243;
  color: #9abed6;
}

.container {
  min-height: 55vh;
  width: 40vh;
  background-color: #153243;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.city {
  color: #9abed6;
  font-size: 5vh;
  padding-top: 2vh;
}

.display-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 15vh;
}

.top {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.temperature {
  font-size: 8vh;
  height: 22.3vh;
  display: flex;
  align-items: center;
}

.data {
  height: 16vh;
  width: 35vh;
  background-color: rgba(255, 255, 255, 0.032);
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 5vh;
  border-radius: 15px;
}

#humi-desc {
  font-size: 2vh;
}

.description {
  padding: 10px;
  font-size: 2.5vh;
}

.description::first-letter {
  text-transform: capitalize;
}
